<div class="row">
	<div class="text-center">
		<h3>{{'LOGIN_TITLE' | translate}}</h3>
	</div>
</div>
<form name="loginForm">
	<div class="row">
		<div class="col-md-4 col-md-offset-4 {{loginForm.email.$error.required ? 'has-error' : ''}}">
			<label for="email">{{'LOGIN_EMAIL' | translate}}</label>
			<input type="text" name="email" placeholder="Email" size="60" ng-model="vm.email" ng-required="true" class="form-control"></input>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-md-offset-4 {{loginForm.password.$error.required ? 'has-error' : ''}}">
			<label for="password">{{'LOGIN_PASSWORD' | translate}}</label>
			<input type="password" name="password" placeholder="Password" size="40" ng-model="vm.password" ng-required="true" class="form-control"></input>
		</div>
	</div>
</form>
<div class="row">
	<div class="text-right">
		<button type="submit" class="btn btn-primary" ng-click="vm.doLogin()" ng-disabled="loginForm.$invalid">	{{'LOGIN_VALIDATE' | translate}}</button>
	</div>
</div>
<div class="row">
	<p>¿dirty? (¿1 o más campos modificados?) {{loginForm.$dirty}}</p>
	<p>¿pristine? (Aún no se ha modificado nada) {{loginForm.$pristine}}</p>
	<p>¿invalid? {{loginForm.$invalid}}</p>
	<p>¿submitted? {{loginForm.$submitted}}</p>
	<p>¿password no informado? {{loginForm.password.$error.required}}
</div>
