<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <!-- endbuild -->
  </head>
  <body ng-app="testApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
        <div class="container" ng-controller="headerbarController as vm">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <button type="button" class="btn btn-primary" ng-click="vm.changeLang('en')">English</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.changeLang('es')">Spanish</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <!-- El tag ui-view es una ventana que sirve para que, cuando un estado esté activo, la vista asociada al este (la template) se cargue dentro de la ventana -->    
        <ui-view> 
            <!-- La directiva ui-sref se comporta de forma similar a un href pero,
            en lugar de referenciar una URL como este, referencia un estado. -->
            <a ui-sref="login" ui-sref-active="active">Login</a>
        </ui-view>
    </div>
  </div>

    <div class="footer">
      <div class="container">
        <p>Footer de la aplicación, común para todos</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->


        <!-- El nuevo módulo debe indicarse aquí-->

        <script src="app.js"></script>

        <script src="modules/login/login-state.js"></script>
        <script src="modules/userdata/userdata-state.js"></script>
       <script src="modules/headerbar/headerbar-state.js"></script>

        <script src="modules/headerbar/headerbar-controller.js"></script>        
        <script src="modules/login/login-controller.js"></script>
        <script src="modules/login/login-service.js"></script>
        <script src="modules/userdata/userdata-controller.js"></script>

        <!-- endbuild -->
</body>
</html>
